<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
	<script src="https://smtpjs.com/v3/smtp.js"></script>  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  
<title>Cliosuite Documentation</title>

</head>
<style>
.form-large{
		    font-size: 30px;
		    font-family:optima;
		}
	
		.form-large .control-label{
		    padding-top: 20px;
		    padding-bottom: 20px;
		    line-height: normal;
		}
	
		.form-large input, .form-large  button, .form-large select{
		    font-size: 30px;
		    padding: 16px;
		    height: 66px;
		    line-height: normal;
		}
		
		.datalist, .select {
			font-size: 30px;
			height: auto;
	    	line-height: normal;
			background-color: white;
		}
		

div{
	color:grey;
	font-family:optima;
}
p{
	color:grey;
	font-family:optima;
}

  .footer_clio {
    
    left: 0;
    bottom: 0;
    width: 100%;
    float: bottom;
    text-align: center;
  }
  </style>
<br/>
  <body style="background-color: #ffffff; background-image: url('/static/bg1.jpg');">
  <div id="top"  style="display: flex; justify-content: center; " >
  <a href="/"><img src="/static/newlogo.jpg" style="width:250px; height:70px; border-color:blue; border-width:2px;"/></a>
  </div>
  
  <div class="container p-1">
  <div class="row justify-content-center">
   <div class="col bg-default bg-default  py-2" style="margin-bottom:0px;display: flex; justify-content: center;">
  
  <h3>The One-Stop Solution for MSME</h3>
  </div>
  </div>
  </div>
  <br/>	
  <div class="card" style="width:100%; border-width:1px; background-color: #D1F2EB; border-color:#D1F2EB; border-radius:0px;" >
    <div class="card-body">
    
<div style="display: flex; justify-content: center; height:50px;" class="row-md-12">

<button onclick="window.open('https://cliosight.com/1000-ideas')" type="button" class="btn btn-link col-md-2"><font size="5">Blog</font></button>
<button onclick="window.location='/#explore'" type="button" class="btn btn-link col-md-2"><font size="5">Explore</font></button>
<button onclick="window.open('/about')" type="button" class="btn btn-link col-md-2"><font size="5">About</font></button>
<button onclick="window.location='/'" type="button" class="btn btn-link col-md-2"><font size="5">Home</font></button>
</div>
  </div>
  </div>
  <br/>  
<br/>
<div style="display: flex; justify-content: center;">
<p> <font size="6px" color="#23bacf"><b>Documentation</b></font></p>
</div>
<br/>
<div class="container">
<div  style="display: flex; justify-content: center;" class="row">
<div class="col-md-4">
<button onclick="window.location='#func'" style="width:100%; height:100px;  margin-bottom:10px;" class="btn btn-default btn-lg btn-block btn-huge"> <font color="#00ccff" size="5"><b>Functional Modules</b></font></button>
</div>
<br/>
<div class="col-md-4">
<button onclick="window.location='#datam'" style="width:100%; height:100px;  margin-bottom:10px;" class="btn btn-default btn-lg btn-block btn-huge"> <font color="#00ccff" size="5"><b>Data Management</b></font></button>
</div><br/>
<div class="col-md-4">
<button onclick="window.location='#tech'" style="width:100%; height:100px;  margin-bottom:10px;" class="btn btn-default btn-lg btn-block btn-huge"> <font color="#00ccff" size="5"><b>Design & Architecture</b></font></button>
</div>

</div>
</div>
<br/>


<div id="features" class="container">	
<div  style=";display: flex; justify-content: center;" class="row">

<div class="col-md-4">

<button onclick="window.location='#params'" style="width:100%; height:90px; border-color: white; border-width:2px; margin-bottom:10px; background-color:#45cde0" class="btn btn-default btn-lg btn-block btn-huge"> <font color="white" size="5"><b>Parameter Details</b></font></button>

</div><br/>

<div class="col-md-4">

<button onclick="window.location='#datamod'" style="width:100%; height:90px;  border-color: white; border-width:2px; margin-bottom:10px;background-color:#45cde0" class="btn btn-default btn-lg btn-block btn-huge"> <font color="white" size="5"><b>Data Modelling</b></font></button>
</div><br/>

<div class="col-md-4">

<button onclick="window.location='#devtools'" style="width:100%; height:90px; border-color: white; border-width:2px; margin-bottom:10px;background-color:#45cde0" class="btn btn-default btn-lg btn-block btn-huge"> <font color="white" size="5"><b>Tech Stack & Dev Tools</b></font></button>

</div>
</div>
</div>
<br/>
<br/>

<div class="container" id="func">
<p style="display: flex; justify-content: left;"> <font size="5px" color="#23bacf"><b>Functional Modules</b></font></p>
<hr style="border-color:#23bacf; border-width:1px;"/>
</div>
<div class="container">
<div class="row" style="display: flex; justify-content: center;margin-left:0px; margin-right:0px;">
<div class="col-lg-12 bg-default bg-white py-0" style="margin-bottom:10px;margin-top:10px;;">
        		<br/>
                <h4 style="color:grey;"><label style="display: flex; justify-content: center;color:#23bacf; font-size:25px">Entities</label><br/>
                <b>Goods and Services</b> - These entities represent all goods and services that can be sold or provided online or offline. The categories of physical items are the same as those at any eCommerce website and retail outlet selling essential, non-essential or luxury items. By services, we mean consumer services that can be sub-divided into several categories, but we focus mostly on those that require enough face-time or interaction with the clients. For instance, online consultation, coaching or counselling. <br/>
                <br/><b>Stores and Fulfilment Centers</b> - These are primary aggregators of the products and services by which they will be available to customers or clients for purchase or booking. The stores and FCs are also treated as individual objects and the important data for configuration and control of the buying or booking process, are collected during their creation. The storefront can be built using our Page Builder tool. This will have the "Add to cart" or "Buy Now" button that will be integrated with the merchant's chosen payment modes. <br/>
                <br/><b>Delivery Services</b> - Logistics is an integral part of a supply chain that controls any online or offline retail business. It is an operationally difficult problem that involves managing executives and carriers at the ground-level. We aim to provide a way for having both internal as well as third-party delivery services at hyperlocal, national and international ranges.<br/>
                <br/><b>Personnel</b> - This represents the people resources of the organization that belong to various roles at stores, FCs or IT division.<br/>
                <br/><b>Online Call/Chat & Manual Order</b> - These are created once the ordering or scheduling process is completed by providing the essential information, followed by which the product or the online/offline service is ready to get delivered. Details of the deliverable are communicated via notifications to all concerned parties. These include product or call details, important dates, and links or passcode for the online meeting or demo before purchase. <br/>
                <br/><br/>
                <label style="display: flex; justify-content: center;color:#23bacf; font-size:25px">Pricing, Promotions & Marketing</label><br/>
                <b>Pricing Rules</b> - Using a number of parameters determining consumer behaviour, a pricing rule as a criteria can be applied to any product or service to alter the price accordingly, while being sold via store(s), email campaigns, influencer endorsements or social media. <br/>
                <br/><b>Promotions</b> - To compete with other sellers and service providers, merchants use promotions to ensure customer loyalty. We have identified <b>Coupons, Vouchers and eGift Cards</b> as the primary means for providing special discounted prices and free products or services, or for attracting new customers to a store or a brand.<br/>
                <br/><b>Marketing</b> - This is an aggregation of the latest social media accounts, matching influencers and email subscribers for sending promotional content about products, services, flash sales, offers etc. to potential and existing customers.<br/>
                <br/><br/>
                <label style="display: flex; justify-content: center;color:#23bacf; font-size:25px">Operations & Infrastructure</label><br/>
                <b>File and Data Management</b> - We aim to provide an easy to use, intuitive, BUI for accessing MySQL, Postgres, Cassandra, Redis or MongoDB. As of now, only MySQL is being handled.<br/>The same interface should allow storing and modifying text and multimedia files - <b>CSV/MS Excel, PDFs, Images, Videos or 3D files</b> storing data or representing an entity - product models, services, stores, contracts, reports, plans & layouts, architecture, etc.</b><br/>
                <br/><b>Product and Service Import</b> - This is a tool to generate an HTML of a product or a service that is published at a popular eCommerce website or a service listing portal. Importing is an integral part of dropshipping and affiliate marketing. Our tool will give the flexibility to add or edit the the product or service details like prices & charges, description and multmedia before adding to the internal catalogue, so it can be listed as a regular inventory product, apart from providing an embeddable HTML.<br/>
                <br/><b>Builder (Microsites)</b> - This is an independent Javascript project for creating nested forms, tables for a MySQL database, apart from simple or advanced reports and pages. These can be embeded into other HTML pages or email body for sharing or collecting data via marketing campaigns.<br/>
                <br/><b>Inventory & Logistics Management</b> - We are providing an interface to edit inventory of products, place Purchase or Transfer orders for moving inventory in between entities viz. stores & FCs or Warehouses. Also a way to track their movement while delivering orders to customers or in between suppliers & merchant owned facilities.<br/>
                <br/><b>Payments</b> - This is an aggregation of the latest and best payment methods for hyperlocal, national and international orders in the traditional offline retail, eCommerce, or dropshipping websites.<br/>
                <br/><b>Notifications Management</b> - This is a core functionality that will help in notifying about an event or a request that updates or adds some data to the database tables. Otherwise, it will alert customers, partners, personnel or the merchant about statuses or any urgent situation that requires action. For instance, during order processing, logistics or inventory updates.
                <br/>
                </h4>
                </div>
               </div> 
        </div>
    </div>
<br/>
<div class="container" id="params">
<p style="display: flex; justify-content: left;font-weight:bold;"> <font size="5px" color="#23bacf"><u>Parameter Details</u></font></p>
<div class="row bg-default bg-white" style="display: flex; justify-content: center;margin-left:0px; margin-right:0px;">
<div class="col-lg-12" style="margin-bottom:10px;margin-top:10px;;">
<h4 style="color:grey;">Glimpses of the parameters of various entities, functions and operations are given in the list below. <br/></h4>
<h3>
<button class="btn-link" onclick="window.open('/prodsvc#prodParam')">
<u>Product, Service & Delivery Service</u></button>  &nbsp;&nbsp;   
<button class="btn-link" onclick="window.open('/stores#storeParam')">
<u>Store, FC & Personnel</u></button>  &nbsp;&nbsp; 
<button class="btn-link" onclick="window.open('/websupport#callParam')">
<u>Video Call & Manual Order</u></button>  &nbsp;&nbsp; 
<button class="btn-link" onclick="window.open('/pripromos#priParam')">
<u>Pricing & Promotions Engine</u></button>  &nbsp;&nbsp; 
<button class="btn-link" onclick="window.open('/marketing#mktParam')">
<u>Marketing</u></button>  &nbsp;&nbsp;
<button class="btn-link" onclick="window.open('/files#filesParam')">
<u>File & Data Management</u></button>  &nbsp;&nbsp;
<button class="btn-link" onclick="window.open('/invlog#invParam')">
<u>Inventory & Logistics</u></button> 
</h3> 
               </div> 
        </div>
    </div>
<div class="row" style="justify-content:center;display: flex;">
<div class="col-md-2">
		<a href="#top"><button class="btn btn-link" style="width:100%;"><font size="5" color="skyblue"><b>Top</b></font></button></a>
</div> 
</div> 
</div>
<br/>

<div class="container" id="datam">
<p style="display: flex; justify-content: left;"> <font size="5px" color="#23bacf"><b>Data Management</b></font></p>
<hr style="border-color:#23bacf; border-width:1px;"/>

<div class="row" style="display: flex; justify-content: center;margin-left:0px; margin-right:0px;">
<div class="col-lg-12 bg-default bg-white py-0" style="margin-bottom:10px;margin-top:10px;;">
<h4 style="color:grey;"> The data is going to be accessible in a controlled manner via UI and API of the application. But some of the data will not be accessible for updation or deletion. 
This is going to belong to those operations that trigger an event like an order that is placed by a customer or a merchant. 
Any modifications required will have to follow a standard procedure or policy that is decided and configured by the merchant.<br/><br/>
The entire application will follow a topology where the company will function as the root of the organizational tree, followed by one or more stores to which other entities will be assigned.<br/><br/>
Data in the form of CSV or an MS Excel sheet should readily be consumed for feeding data into any of the database tables that allow access via UI or API, after creation of the associated entities.
<br/><br/>Database maintenance functions can also be eased if we do not require the user to install any other 3rd party application, other than the browser that is available in any device.
</h4>

</div>
</div>
</div>
<br/>
<div class="container" id="datamod">
<p style="display: flex; justify-content: left;font-weight:bold;"> <font size="5px" color="#23bacf"><u>Data Modelling</u></font></p>

<div class="row" style="display: flex; justify-content: center;margin-left:0px; margin-right:0px;">
<div class="col-lg-12 bg-default bg-white py-0" style="margin-bottom:10px;margin-top:10px;;">
<h4 style="color:grey;">The application is expected to generate data primarily from orders, video calls, logistics, payments and marketing. 
The data belonging to the entities are of a much smaller proportion and static compared to the transactional & customer feedback data, assuming the merchant has an active presence online and is currently handling considerable volumes of customer transactions.
<br/><br/>There are going to be numerous relations connecting the various entities and functional pieces that represent a process or an event.
We are not following all the conventional practices of database design but ensuring that our data is going to be normalized to the highest degree. 
This is mainly to utilize the latest developments in application architecture that will help us 
in making the individual parts loosely coupled unless they are bundled in order to provide a useful real-world functionality.
</h4>

</div>
</div>

<div class="row" style="justify-content:center;display: flex;">
<div class="col-md-2">
		<a href="#top"><button class="btn btn-link" style="width:100%;"><font size="5" color="skyblue"><b>Top</b></font></button></a>
</div> 
</div> 

</div>
<br/>
<div class="container" id="tech">
<p style="display: flex; justify-content: left;"> <font size="5px" color="#23bacf"><b>Design & Architecture</b></font></p>
<hr style="border-color:#23bacf; border-width:1px;"/>
</div>
<div class="container">
<div class="row" style="display: flex; justify-content: center;margin-left:0px; margin-right:0px;">
<div class="col-lg-12 bg-default bg-white py-0" style="margin-bottom:10px;margin-top:10px;;">
<h4 style="color:grey;">Following the topology of the application, the centralized and distributed data management is meant to handle concurrent database access, serverless microservices architecture, and an event-based model in the best possible way.
<br/> We wish to save the store and FC properties in a distributed fashion while handling events centrally so that all functions and entities can take actions according to their individual logic in response to another event triggered by an entity viz. product, store, customer or the organization(hub).

</h4>

</div>
</div>

</div>
<br/>
<div class="container" id="devtools">
<p style="display: flex; justify-content: left;font-weight:bold;"> <font size="5px" color="#23bacf"><u>Tech Stack & Dev Tools</u></font></p>

<div class="row" style="display: flex; justify-content: center;margin-left:0px; margin-right:0px;">
<div class="col-lg-12 bg-default bg-white py-0" style="margin-bottom:10px;margin-top:10px;;">
<h4 style="color:grey;">The tech stack is mostly Javascript, Python & Core Java related, with databases, standard frameworks and libraries. 
We will continue using several free and open-source code projects to develop the pieces fast till we finalize on each feature, which will be decided as we get our users' feedback. 
We are not in favor of using cloud hosted services like in Computer Vision or Image recognition provided by the best in industry. Instead we consider using open-source projects that give fairly good results.<br/>
We want even those users handling sensitive data and executing all their services only on-premise, to try our application and customize it according to their requirements.<br/>
<br/>The primary dev tools that we plan to develop are:<br/>
<br/><b>API Tester</b> - This is an obvious addition since we want to support developers.<br/>
<br/><b>Workflow Creator</b> - We have already listed various entities that will be linked centrally forming a star-like topology. But once we add an object or an API defining a process, there has to some way of defining and visualizing their role in an execution pipeline.<br/>
<br/><b>HTML Editor and Coding platform</b> - There are several online HTML and CSS editors and coding platforms connected to Github, Heroku or other platforms for source code management or cloud deployment.<br/>
We wish to provide the same but integrated with our application, so that developers do not have to switch between editors, CI/CD portals or API testers like Jenkins, Gitlab or Postman to deploy and test their APIs in various enviornments.<br/>
There will be a way to ensure that our users are able to maintain different datasets and functionalities that are specific to a particular development environment.

</h4>

</div>
</div>
<div class="row" style="justify-content:center;display: flex;">
<div class="col-md-2">
		<a href="#top"><button class="btn btn-link" style="width:100%;"><font size="5" color="skyblue"><b>Top</b></font></button></a>
</div> 
</div>  
</div>

<br/>
<br/>
<div class="container">
<div class="row" style="display: flex; justify-content: center; ">
<div class="col-md-6" style="display: flex; justify-content: center; " >
<button  onclick="window.open('https://cliosight.com/#3191a9c5-da31-45fd-8916-8a3d0bb06317')" style=" width:100%; height:80px; border-color: #23bacf; border-width:3px;background-color:white;" class="btn btn-primary btn-lg btn-block btn-huge"><font color="#23bacf" size="6"><b>SUBMIT A QUERY</b></font></button>
</div>
</div>
</div>
</div>      
</div>
<br/>
<br/>

<div class="footer_clio row" id="footer_clio" name="footer_clio" style="display: flex; justify-content: center; background-color: #D1F2EB;margin-left:0px;margin-right:0px;padding-top:20px;padding-bottom:20px;">

<div class="col-md-3">
<h3>Social Media</h3>
<h4><a type="button" href="http://cliosight.com">Company Website</a></h4>
<h4><a type="button" href="https://www.linkedin.com/company/14571342">Linkedin</a></h4>

</div>
<div class="col-md-3">
<h3>Learn about the product</h3>
<h4><a type="button" href="/documentation">Documentation</a></h4>
<h4><a type="button" href="https://cliosight.com/cliosuite-articles-1">Cliosuite Articles</a></h4>
</div>
<div class="col-md-4">
<h3>Contact Us</h3>
<h4>Mobile: +91-6361789254</h4>
<h4><a>cliosight@gmail.com</a></h4>
<h4>Address: Bangalore-560076, Karnataka, India</h4>
</div>
</div>
<br/>

</div>      
</div>
  
  <div class="footer_clio" id="footer_clio" name="footer_clio" style="display: flex; justify-content: center; ">
    <button class="btn btn-link" onclick="window.open('/about')"><font size="4">About</font></button>
    <button class="btn btn-link" onclick="window.open('/policies')"><font size="4"> Policies & Terms </font></button>
    <br/>
  </div>
  
  <div class="container" style="display: flex; justify-content: center; ">
      <p><font size="4" color="grey">Copyright © 2020 Cliosight - All Rights Reserved.</font></p>
    </div>
    
  <br/>
</body>
</html>