<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
	<script src="https://smtpjs.com/v3/smtp.js"></script>  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  
      <title>Cliosuite for MSME - Pricing and Promotions</title>

</head>
<style>
.form-large{
		    font-size: 30px;
		    font-family:optima;
		}
	
		.form-large .control-label{
		    padding-top: 20px;
		    padding-bottom: 20px;
		    line-height: normal;
		}
	
		.form-large input, .form-large  button, .form-large select{
		    font-size: 30px;
		    padding: 15px;
		    height: 65px;
		    line-height: normal;
		}
		
		.datalist, .select {
			font-size: 30px;
			height: auto;
	    	line-height: normal;
			background-color: white;
		}
		

div{
	color:grey;
	font-family:optima;
}
p{
	color:grey;
	font-family:optima;
}

  .footer_clio {
    
    left: 0;
    bottom: 0;
    width: 100%;
    float: bottom;
    text-align: center;
  }
  </style>
<br/>
  <body style="background-color: white; background-image: url('/static/bg1.jpg');">
  <div style="display: flex; justify-content: center; " >
  <a href="/"><img src="/static/newlogo.jpg" style="width:250px; height:70px; border-color:yellow; border-width:2px;"/></a>
  </div>
  
  <div class="container">
  <div class="row justify-content-center">
   <div class="col bg-default bg-default py-1" style="display: flex; justify-content: center; margin-bottom:0px;margin-left:0px;">
  <h4><b>The One-Stop Solution for Micro, Small & Mid-Sized Enterprises</b></h4>
  </div>
  </div>
  </div>
 <br/>
  <div class="card" style="width:100%; border-width:1px; background-color: #D1F2EB; border-color:#D1F2EB; border-radius:0px;" >
    <div class="card-body">
    
<div style="display: flex; justify-content: center; height:50px;" class="row-md-12">
    <button onclick="window.open('/documentation')" type="button" class="btn btn-link col-md-2"><font size="5">Docs</font></button>
    <button onclick="window.open('https://cliosight.com/1000-ideas')" type="button" class="btn btn-link col-md-2"><font size="5">Blog</font></button>
    <button onclick="window.location='/#explore'" type="button" class="btn btn-link col-md-2"><font size="5">Explore</font></button>
    <button onclick="window.location='/'" type="button" class="btn btn-link col-md-2"><font size="5">Home</font></button>
    </div>
  </div>
  </div>
  <br/> 
<br/>
<div style="display: flex; justify-content: center;">
<p> <font size="6" color="#23bacf"><b>Pricing and Promotions</b></font></p>
</div>
<br/>

<div id="features" class="container">

<div  style=";display: flex; justify-content: center;" class="row">

<div class="col">

<div style="justify-content: center;" class="row">
<button style="width:350px; height:100px; border-color: #23bacf; border-width:3px; margin-bottom:10px;" class="btn btn-default btn-lg btn-block btn-huge"> <font color="#23bacf" size="5"><b>Coupons</b></font></button>
</div>

</div>


<div class="col">

<div style="justify-content: center;" class="row">
<button style="width:350px; height:100px; border-color: #23bacf; border-width:3px; margin-bottom:10px;" class="btn btn-default btn-lg btn-block btn-huge"> <font color="#23bacf" size="5"><b>Vouchers</b></font></button>
</div>

</div><br/>

<div class="col">

<div style="justify-content: center;" class="row">
<button style="width:350px; height:100px; border-color: #23bacf;  border-width:3px; margin-bottom:10px;" class="btn btn-default btn-lg btn-block btn-huge"> <font color="#23bacf" size="5"><b>eGift Cards</b></font></button>
</div>

</div><br/>

</div>
</div>

<br/>
<div id="features" class="container">	

<div  style=";display: flex; justify-content: center;" class="row">

<div class="col">

<div style="justify-content: center;" class="row">
<button style="width:355px; height:100px; border-color: #23bacf; border-width:0px; margin-bottom:10px; background-color:#23bacf" class="btn btn-default btn-lg btn-block btn-huge"> <font color="white" size="5"><b>Dynamic Pricing Rules</b></font></button>
</div>

</div>

<div class="col">

<div style="justify-content: center;" class="row">
<button style="width:355px; height:100px; border-color: #23bacf; border-width:0px; margin-bottom:10px;background-color:#45cde0" class="btn btn-default btn-lg btn-block btn-huge"> <font color="white" size="5"><b>Intelligence Driven</b></font></button>
</div>

</div>

<div class="col">

<div style="justify-content: center;" class="row">
<button style="width:355px; height:100px; border-color: #23bacf; border-width:0px; margin-bottom:10px;background-color:#23bacf" class="btn btn-default btn-lg btn-block btn-huge"> <font color="white" size="5"><b>Parameter Optimized</b></font></button>
</div>

</div>

<div class="col">

<div style="justify-content: center;" class="row">
<button style="width:355px; height:100px; border-color: #23bacf; border-width:0px; margin-bottom:10px; background-color:#45cde0" class="btn btn-default btn-lg btn-block btn-huge"> <font color="white" size="5"><b>Apply On Any Item</b></font></button>
</div>

</div><br/>

<div class="col">

<div style="justify-content: center;" class="row">
<button style="width:355px; height:100px; border-color: #23bacf; border-width:0px; margin-bottom:10px;background-color:#23bacf" class="btn btn-default btn-lg btn-block btn-huge"> <font color="white" size="5"><b>Generate On-Demand</b></font></button>
</div>

</div><br/>

<div class="col">

<div style="justify-content: center;" class="row">
<button style="width:355px; height:100px; border-color: #23bacf; border-width:0px; margin-bottom:10px;background-color:#45cde0" class="btn btn-default btn-lg btn-block btn-huge"> <font color="white" size="5"><b>Promote with Page Builder</b></font></button>
</div>

</div>

</div>
</div>
<br/><br/>
<div class="container" id="priParam">
<p style="display: flex; justify-content: left;"> <font size="5px" color="#23bacf"><b>Parameter Details (Screenshots)</b></font></p>
<hr style="border-color:#23bacf; border-width:1px;" />
</div>
  <div class="container">
  <div class="row">
  <div class="col-md-6">
  	<img style="width:100%;height:100%;" src='/static/pricing.png' />
  </div>
  	<div class="col-md-6">
      <img style="width:100%;height:100%;" src='/static/coupon.png' />
  	</div>
  </div>
  <br/>
  <div class="row">
  <div class="col-md-6">
  	<img style="width:100%;height:100%;" src='/static/voucher.png' />
  </div>
  	<div class="col-md-6">
      <img style="width:100%;height:100%;" src='/static/gc.png' />
  	</div>
  </div>
  <br/>
  <div class="row" style="margin:10px;">
  <div class="col-md-12">
  <h3>** The screenshots do not show all parameters and are subject to change.</h3>
  </div>
  </div>
  </div>
<br/><br/><br/>

<div class="row" style="margin:10px;display: flex; justify-content: center; ">
<div class="col-md-5" style="display: flex; justify-content: center; " >
<button  onclick="window.open('https://cliosight.com/#3191a9c5-da31-45fd-8916-8a3d0bb06317')" style=" width:100%; height:80px; border-color: #23bacf; border-width:3px;background-color:white;" class="btn btn-primary btn-lg btn-block btn-huge"><font color="#23bacf" size="6"><b>SUBMIT A QUERY</b></font></button>
</div>
</div>

</div>      
</div>
<br/>
<br/>
<div class="footer_clio row" id="footer_clio" name="footer_clio" style="display: flex; justify-content: center; background-color: #D1F2EB;margin-left:0px;margin-right:0px;padding-top:20px;padding-bottom:20px;">

<div class="col-md-3">
<h3>Social Media</h3>
<h4><a href="http://cliosight.com">Company Website</a></h4>
<h4><a href="https://www.linkedin.com/company/14571342">Linkedin</a></h4>

</div>
<div class="col-md-3">
<h3>Learn about the product</h3>
<h4><a href="/documentation">Documentation</a></h4>
<h4><a href="https://cliosight.com/cliosuite-articles-1">Cliosuite Articles</a></h4>
</div>
<div class="col-md-4">
<h3>Contact Us</h3>
<h4>Mobile: +91-6361789254</h4>
<h4><a>cliosight@gmail.com</a></h4>
<h4>Address: Bangalore-560076, Karnataka, India</h4>
</div>
</div>
<br/>

</div>      
</div>
  
  <div class="footer_clio" id="footer_clio" name="footer_clio" style="display: flex; justify-content: center; ">
    <button type="button" class="btn btn-link" onclick="window.open('/about')"><font size="4">About</font></button>
    <button type="button" class="btn btn-link" onclick="window.open('/policies')"><font size="4"> Policies & Terms </font></button>
    <br/>
  </div>
  
  <div class="container" style="display: flex; justify-content: center; ">
      <p><font size="4" color="grey">Copyright © 2020 Cliosight - All Rights Reserved.</font></p>
    </div>  
  <br/>
</body>
</html>
